* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.shopee-menu {
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
    height: 119px;
    position: fixed;
    width: 100%;
}
div.shopee-menu nav {
    display: flex;
    min-width: inherit;
    height: 34px;
    display: flex;
    margin: 0px 20px 0px 20px;
    justify-content: space-between;
}
div.shopee-menu nav div.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
div.shopee-menu nav div.left a {
    text-decoration: none;
    color: whitesmoke;
    padding: 4px;
}
div.shopee-menu nav div.left a:hover {
    color: gray;
}
div.shopee-menu nav div.right {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
div.shopee-menu nav div.right a {
    text-decoration: none;
    color: whitesmoke;
}
div.shopee-menu nav div.right a:hover {
    color: gray;
}
div.shopee-menu div.shopee-menu-bottom {
    margin: 0px 20px;
    padding: 16px 0px;
    height: 85px;
    display: flex;
    flex-direction: row;
}
div.shopee-menu div.shopee-menu-bottom a.shopee-logo {
    padding-right: 40px;
    width: 202px;
    height: 100%;
    background-image: url(Assets/logo-shopee.jpg);
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
    position: relative;
    bottom: 5px;
    
}
div.shopee-menu div.shopee-menu-bottom div.shopee-search {
    width: 840px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
div.shopee-menu div.shopee-menu-bottom div.shopee-search div.shopee-search-searchbar {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: inherit;
    height: 40px;
    padding: 3px;
    border-radius: 3px;
    align-items: center;
    box-shadow: 2px 2px 2px gray;
}
div.shopee-menu div.shopee-menu-bottom div.shopee-search div.shopee-search-searchbar input {
    height: 100%;
    width: 774px;
    border: none;
    background-color: inherit;
    outline: none;
    margin-left: 10px;
}
div.shopee-menu div.shopee-menu-bottom div.shopee-search div.shopee-search-searchbar button {
    width: 66px;
    height: 36px;
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
    padding: 0px 15px 0px 15px;
    border: none;
    border-radius: 3px;
}
div.shopee-menu div.shopee-menu-bottom div.shopee-search div.shopee-searchbar-nav {
    display: flex;
    margin: 3px 0px 3px 0px;
    align-items: center;
    gap: 13px;
}
div.shopee-menu div.shopee-menu-bottom div.shopee-search div.shopee-searchbar-nav a{
    text-decoration: none;
    color: whitesmoke;
    margin: 5px 0px 5px 0px;
    font-size: 12px;
}
div.shopee-menu div.shopee-menu-bottom div.checkout {
    margin: 0px 10px 0px 10px;
    height: 100%;
    width: 138px;
    background-image: url(Assets/keranjang-shopee.jpg);
    background-size: 25%;
    background-position: center center;
    background-repeat: no-repeat;

}
div.hero {
    height: 358px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 119px;
}
div.hero div.add-container {
    height: 235px;
    width: 96%;
    margin: 0px 30px;
    display: grid;
    grid-template-areas:
    'left right1'
    'left right2';
    gap: 5px;
}
div.hero div.add-container a.add-left {
    height: 100%;
    width: 790px;
    grid-area: left;
    background-image: url(Assets/addleft.jpeg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;
}
div.hero div.add-container a.add-right1 {
    grid-area: right1;
    width: 410px;
    background-image: url(Assets/addright1.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;
}
div.hero div.add-container a.add-right2 {
    grid-area: right2;
    width: 410px;
    background-image: url(Assets/addright2.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;
}
div.hero div.nav-hero {
    width: inherit;
    height: 108px;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    justify-content: center;
}
div.hero div.nav-hero a {
    height: 100%;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 9pt;
}
div.hero div.nav-hero a:hover {
    transform: translateY(-1px);
}
div.hero div.nav-hero a div {
    margin-top: 20px;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-size: 100%;
    border-radius: 3px;
}
div.hero div.nav-hero p {
    margin-top: 5px;
}
div.content {
    opacity: 1;
    width: 100%;
    height: 4240px;
    padding: 0px 30px 0px 30px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
div.content div.Kategori {
    width: 100%;
    height: 363px;
    margin-top: 20px;
    background-color: inherit;
}
div.content div.Kategori div.Kategori-header {
    padding: 0px 20px 0px 20px;
    height: 61px;
    width: 100%;
    line-height: 61px;
    background-color: white;
    color: gray;
}
div.content div.Kategori div.Kategori-content {
    max-height: 302px;
    width: 100%;
    margin-top: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: whitesmoke;
    flex-wrap: wrap;
    gap: 2.5px;
}
div.content div.Kategori div.Kategori-content a {
    height: 151px;
    width: 118.053px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 11pt;
}
div.content div.Kategori div.Kategori-content a:hover {
    border: 0.5px gray solid;
    box-shadow: 1px 2px 3px grey;
}
div.content div.Kategori div.Kategori-content a div{
    background-position: center center;
    background-size: 100%;
    width: 70%;
    height: 65%;
    background-repeat: no-repeat;
}